In [1]:
try:
    num1 = int(input('Enter first number: '))
    num2 = int(input('Enter second number: '))

    result = num1/num2

except Exception as e:
    print(f'error is: {e}')
finally:
    print('finally block executed!')

finally block executed!

In [2]:
try:
    num1 = int(input('Enter first number: '))
    num2 = int(input('Enter second number: '))

    result = num1/num2

except ZeroDivisionError:
    print('cannot be divided by zero')
except ValueError:
    print('invalid input')
else:
    print(f'Result: {result}')
finally:
    print('Finally block executed!')

Result: 5.0
Finally block executed!

# Data Types

## 1. Lists

In [3]:
l1 = [1,2,3,"a", "b", 2.323, (5,6,7), {4,8,9}, {1:'abc', 2: 2+3j}, True]

In [4]:
l1[-1]

True

In [5]:
l1[1]

2

In [6]:
l1[7]

{4, 8, 9}

In [7]:
l1[6][1]

6

In [8]:
l1.append('xyz') # adds at the end the list. existing list is changed as it is mutable

In [9]:
l1

[1,
 2,
 3,
 'a',
 'b',
 2.323,
 (5, 6, 7),
 {4, 8, 9},
 {1: 'abc', 2: (2+3j)},
 True,
 'xyz']

In [10]:
l2 = l1.append('iop')

In [11]:
print(l2) # there is no data in l2

None

In [12]:
type(l2)

NoneType

In [13]:
l1

[1,
 2,
 3,
 'a',
 'b',
 2.323,
 (5, 6, 7),
 {4, 8, 9},
 {1: 'abc', 2: (2+3j)},
 True,
 'xyz',
 'iop']

In [14]:
l1

[1,
 2,
 3,
 'a',
 'b',
 2.323,
 (5, 6, 7),
 {4, 8, 9},
 {1: 'abc', 2: (2+3j)},
 True,
 'xyz',
 'iop']

In [15]:
l1.insert(1, 72) # inserting data at a particular index

In [16]:
l1

[1,
 72,
 2,
 3,
 'a',
 'b',
 2.323,
 (5, 6, 7),
 {4, 8, 9},
 {1: 'abc', 2: (2+3j)},
 True,
 'xyz',
 'iop']

In [17]:
l1.insert(-1, 987) # using insert we cannot insert at the end, we have to use append

In [18]:
l1

[1,
 72,
 2,
 3,
 'a',
 'b',
 2.323,
 (5, 6, 7),
 {4, 8, 9},
 {1: 'abc', 2: (2+3j)},
 True,
 'xyz',
 987,
 'iop']

In [19]:
l2 = [[1,2,3,4,'prachi', ['p','r','a']],1234,{'abc', 'def'},78,91,(12,'a',6)]

In [20]:
# access the r
l2[0][-1][1]

'r'

In [21]:
# insert 'suraj' at the end
l2.append('suraj')
print(l2)

[[1, 2, 3, 4, 'prachi', ['p', 'r', 'a']], 1234, {'abc', 'def'}, 78, 91, (12, 'a', 6), 'suraj']

In [22]:
# insert 'vatsala' at the 3rd index
l2.insert(3, 'vatsala')
print(l2)

[[1, 2, 3, 4, 'prachi', ['p', 'r', 'a']], 1234, {'abc', 'def'}, 'vatsala', 78, 91, (12, 'a', 6), 'suraj']

In [23]:
# .remove will remove the first occurance of any item
l3 = ['apple', 'banana', 'kiwi', 'apple']

In [24]:
l3.remove('apple')
print(l3)

['banana', 'kiwi', 'apple']

In [25]:
# .pop will remove item based on index values, if no index is given last element will be removed
fruits = ['apple', 'banana', 'cherry', 'papaya']

In [26]:
fruits.pop(1) # removes item at index 1

'banana'

In [27]:
fruits

['apple', 'cherry', 'papaya']

In [28]:
fruits.pop() # removes value at index -1 when index is not specified
print(fruits)

['apple', 'cherry']

In [29]:
fruits.insert(1,'cherry')
fruits.append('pineapple')

In [30]:
fruits

['apple', 'cherry', 'cherry', 'pineapple']

In [35]:
# In "pop" we have to give index number which we want ot remove
# In "remove" we have to provide the value that we want to remove
# In "del" we delete the value from a particular index, if we do not provide any index it will delete the entire list
# "del" is a keyword where "pop" & "remove" are methods

In [32]:
del fruits[1]
print(fruits)

['apple', 'cherry', 'pineapple']

In [33]:
del fruits

In [34]:
print(fruits)

NameError: name 'fruits' is not defined

In [38]:
l4 = ['apple', 'banana', 'cherry', "chikoo", "litchi"]

In [39]:
l4[::-1] # reverse the string

['litchi', 'chikoo', 'cherry', 'banana', 'apple']

In [40]:
l4[1::2]

['banana', 'chikoo']

In [ ]:
l4[:3] # 3rd index in NOT included

['apple', 'banana', 'cherry']

In [42]:
my_num = [1,5,2, 4,3]

In [43]:
my_num.sort()

In [44]:
my_num

[1, 2, 3, 4, 5]

In [45]:
my_num.sort(reverse=True)

In [46]:
my_num

[5, 4, 3, 2, 1]