# Loops

In [6]:
# FOR loop: 0 to (n-1)

In [1]:
list(range(1,10,2)) # start, stop, step

[1, 3, 5, 7, 9]

In [2]:
a = "pratyush"
for i in a:
    print(i)

p
r
a
t
y
u
s
h

In [3]:
a = "pratyush"
for i in a:
    print(i)
    if i == 't':
        break

p
r
a
t

In [5]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [21]:
l = [1,2,"p", 3, "r", "a", True, "c", 3.6,"h", "i"]

str_list = []

for i in l:
    if type(i) == str:
        str_list.append(i)

print(str_list)

['p', 'r', 'a', 'c', 'h', 'i']

In [1]:
users = ["Aakash", "Namita", "Pratyush"]
for i in users:
    print(f"sending email to {i}@gmail.com...")

sending email to Aakash@gmail.com...
sending email to Namita@gmail.com...
sending email to Pratyush@gmail.com...

In [ ]:
# Displaying available seats in a theatre with seat numbers
available_seats = {23, 45, 89, 12} # we are using set data type as we cannot have duplicate seat numbers
for i in available_seats:
    print(f"The available seats are: {i}")

The available seats are: 89
The available seats are: 12
The available seats are: 45
The available seats are: 23

In [12]:
# Displaying product price: we are using dictionary data type as it has key: value pairs, product_name: price
store_products = {'laptop': 50000, 'smartphone': 30000 , 'tablet': 45000}
for i in store_products:
    # print(i)
    print(f"The price of {i} is Rs{store_products[i]}.")

The price of laptop is Rs50000.
The price of smartphone is Rs30000.
The price of tablet is Rs45000.

In [14]:
for i, j in store_products.items():
    print(f"the price of {i} is {j}.")

the price of laptop is 50000.
the price of smartphone is 30000.
the price of tablet is 45000.

In [1]:
# Checking in attendees in a conference
details = {'john': {'id': 1, 'status': 'Yes', 'city': 'Bengaluru'}, 'winston': {'id': 2, 'status': 'No', 'city': 'Pune'}, 'viggo': {'id': 3, 'status': 'Yes', 'city': 'Hyderabad'}}
details

{'john': {'id': 1, 'status': 'Yes', 'city': 'Bengaluru'},
 'winston': {'id': 2, 'status': 'No', 'city': 'Pune'},
 'viggo': {'id': 3, 'status': 'Yes', 'city': 'Hyderabad'}}

In [2]:
# print the name of the attendees who are attending the conference
l = []
for i, j in details.items():
    if j['status'].lower().strip() == 'yes':
        l.append(i)

print(f'The people who are attending are: {l}')

The people who are attending are: ['john', 'viggo']

In [ ]:
name = 'pratyush'

In [ ]:
isinstance(name, str) # used to check the data type of the variable

True

In [5]:
isinstance(name, int)

False

In [7]:
l1 = [1,2,3, 4.5,"q", "w"]
str_items = []
for i in l1:
    if isinstance(i, str):
        str_items.append(i)

print(str_items)

['q', 'w']

In [8]:
int_items = []
for i in l1:
    if isinstance(i, int):
        int_items.append(i)

print(int_items)

[1, 2, 3]

In [ ]:
isinstance(True, int) # True = 1

True

In [10]:
isinstance(False, bool)

True

In [11]:
isinstance(0, bool)

False

In [18]:
name1 = {'name': ['pratyush','anand', 'prachi'], 'age': [23, 45, 67], 'gmail': ['abc*gmail.com', 'xyz@gmail.com', 'pqr@gmail.com'] }
name1

{'name': ['pratyush', 'anand', 'prachi'],
 'age': [23, 45, 67],
 'gmail': ['abc*gmail.com', 'xyz@gmail.com', 'pqr@gmail.com']}

In [ ]:
my_str_items = []
for i,j in name1.items():
    if isinstance(j, list):
        for k in j:
            if type(k) == str:
                my_str_items.append(k)

my_str_items

['pratyush',
 'anand',
 'prachi',
 'abc*gmail.com',
 'xyz@gmail.com',
 'pqr@gmail.com']

In [ ]:
my_str_items_1 = []
for i,j in name1.items():
    if isinstance(j, list):
        for k in j:
            if isinstance(k,str):
                my_str_items_1.append(k)

my_str_items_1

['pratyush',
 'anand',
 'prachi',
 'abc*gmail.com',
 'xyz@gmail.com',
 'pqr@gmail.com']

In [ ]:
s = 'hello123'
s.isalnum() # isalnum does not allow special characters. this function is only applicable on strings

True

In [28]:
s1 = 'hello'
s1.isalnum()

True

In [29]:
s2 = 'hello@'
s2.isalnum()

False