# Removing element from a list
## 1) .remove method
## 2) .pop method
## 3) del keyword

In [1]:
l1 = [1, 23, 45, 78, 90, 45, 87]
print(l1)

[1, 23, 45, 78, 90, 45, 87]

In [2]:
# remove 23 & 78
del l1[1:4:2]
print(l1)

[1, 45, 90, 45, 87]

In [3]:
l1

[1, 45, 90, 45, 87]

In [4]:
# palindrome
my_str = input('enter a string: ')
if my_str == my_str[::-1]:
    print(f'{my_str} is a palindrome string!')
else:
    print(f'{my_str} is not a palindrome string!')

'abcd' is not a palindrome string!

In [5]:
my_numbers = [1,4,2,5,3]
my_numbers.sort(reverse=True)
my_numbers

[5, 4, 3, 2, 1]

In [6]:
my_numbers

[5, 4, 3, 2, 1]

In [7]:
# sort a list without using inbuilt sort function

my_numbers = [1,4,2,5,3]
a = []

for i in range(len(my_numbers)):
    # x = min(my_numbers)
    x = max(my_numbers)
    print(x)
    a.append(x)
    my_numbers.remove(x)

print(a)

5
4
3
2
1
[5, 4, 3, 2, 1]

In [8]:
# .index() method: returns the index of first occurance of value
fruit = ['apple', 'banana', 'cherry', 'banana']
fruit.index('banana')

1

In [10]:
# .count() method: returns the number of times a specified value occurs in the list
my_numbers1 = [1,2,3,4,2,2,6]
my_numbers1.count(2)

3

In [ ]:
# .clear() method: removes all values from the list

In [13]:
fruit1 = ['apple', 'banana', 'cherry', 'banana']

In [12]:
fruit1.clear()
print(fruit1)

[]

In [14]:
print(fruit1)

['apple', 'banana', 'cherry', 'banana']

In [15]:
del fruit1
print(fruit1)

NameError: name 'fruit1' is not defined

In [17]:
l2 = [1,2,4,5,8,1,2,4,5,['a', 'pratyush', 'Mahato']]

In [18]:
l2[-1][1]

'pratyush'

In [19]:
l2 = [1,2,4,5,8,1,2,4,5,['a', 'pratyush', 'Mahato',['incubit', 90, True]]]

In [20]:
l2[-1][-1][1]

90

In [ ]:
# remove 90 from the list
l2[-1][-1].remove(90)

In [23]:
l2

[1, 2, 4, 5, 8, 1, 2, 4, 5, ['a', 'pratyush', 'Mahato', ['incubit', True]]]

# Tuples: ordered & immutable

In [27]:
tup1 = (1,2, 'pratyush', 3.5, True, 2+5j, ('x','y','z'), [9.7,8,5])
print(type(tup1))

<class 'tuple'>

In [28]:
tup1[1::2]

(2, 3.5, (2+5j), [9.7, 8, 5])

In [29]:
tup_list = list(tup1)
print(tup_list, type(tup_list))

[1, 2, 'pratyush', 3.5, True, (2+5j), ('x', 'y', 'z'), [9.7, 8, 5]] <class 'list'>

In [ ]:
# tuple concatenation
tup1 = (1,2)
tup2 = (3,4)

Result = tup1 + tup2
print(Result)

# strings are also immutable, but we can concat 2 or more strings.

(1, 2, 3, 4)

In [31]:
# tuple multiplication
tup1*3

(1, 2, 1, 2, 1, 2)

In [32]:
tup2 = (1,2,3,2,4,6,8,2)
print(tup2.count(2))
print(tup2.index(2))

3
1