# Functions

In [2]:
def my_add(a,b):
    return a+b

In [3]:
my_add(5,4)

9

In [ ]:
def greet(name):
    return f"Hello! {name}"

In [8]:
var1 = greet('pratyush')
var1

'Hello! pratyush'

In [7]:
print(var1)

Hello! pratyush

In [9]:
def my_sub(a,b):
    return a-b

In [10]:
my_sub(3,5)

-2

In [11]:
def my_div(a,b):
    return a/b

In [12]:
my_div(5,0)

ZeroDivisionError: division by zero

In [15]:
def greet1(name, message = "Hello"):
    return f"{message} {name}"

In [16]:
greet1('Pratyush')

'Hello Pratyush'

In [17]:
greet1('Prachi', 'Hi')

'Hi Prachi'

In [ ]:
def greet2(rank, address, name="pratyush"): # default argument follows non-default arguments. Here name='pratyush' is a default argument
    return f"{name} {rank} {address}"

In [23]:
greet2(5, 'gurgaon')

'pratyush 5 gurgaon'

In [24]:
greet2(4, 'noida', 'prachi')

'prachi 4 noida'

In [25]:
def greet3(rank, address=None, name='pratyush'):
    return f"{name}, {rank}, {address}"

In [26]:
greet3(4)

'pratyush, 4, None'

In [ ]:
greet3(name='amit', address='Bengaluru', rank=1) # Keyword Arguments

'amit, 1, Bengaluru'

In [ ]:
def my_add1(*args):
    return sum(args)

In [30]:
my_add1(1,2,3)

6

In [ ]:
def my_add_2(*name):
    return name

my_add_2("pratyush", 'prachi', 'anand', 'ankit') # output is a tuple

('pratyush', 'prachi', 'anand', 'ankit')

In [31]:
def my_dict_1(**kwargs):
    return kwargs

In [ ]:
my_dict_1(name='pratyush', city='Gurgaon', profession='data analyst') # output is a dictionary, keyword:argument

{'name': 'pratyush', 'city': 'Gurgaon', 'profession': 'data analyst'}

In [34]:
def my_abc(**xyz):
    for key, value in xyz.items():
        print(f"{key}: {value}")

In [35]:
my_abc(name='pratyush', city='Gurgaon', profession='data analyst')

name: pratyush
city: Gurgaon
profession: data analyst

In [44]:
def get_name_and_age(): # Return statement can be used to return a value back to the caller. a function can return multiple values in the form of tuple
    return "Pratyush", 30

name, age = get_name_and_age()
print(f"name: {name}")
print(f"age: {age}")

name: Pratyush
age: 30

# Variable Scope in Functions

In [2]:
def my_func():
    x = 4
    return x+2

my_func()

6

In [3]:
print(x)

NameError: name 'x' is not defined

In [ ]:
a = 10 # global variable
def my_func1():
    a = 3 # local variable. it can be used only in that particular scope.
    return a+4
my_func1()

7

In [5]:
print(a)

10

In [6]:
def abc():
    y = 10

abc()

In [7]:
print(abc())

None

In [ ]:
def my_func2():
    global x # global scope
    x = 91
my_func2()

In [ ]:
print(x) # global scope

91

In [12]:
x = 19
def my_func2():
    global x # global scope
    x = 91
    return x
my_func2()

91

In [14]:
print(x)

91

In [15]:
def outer_function():
    x = "outer"

    def inner_function():
        nonlocal x # this will update the value of x in 
        x="inner"

    print(x)

outer_function()

outer

In [ ]:
def outer_function():
    x = "outer"

    def inner_function():
        nonlocal x # this will update the value of x in outer function
        x="inner"

    inner_function()
    print(x)

outer_function()

inner