# Sets
## Set is unordered collection of unique elements. Sets are mutable

In [1]:
set1 = {1,2,3,4,2,1,12,123,45,'a', 'b', True, 'c', 'd', 'b', True}
print(set1)

{'b', 1, 2, 3, 4, 12, 45, 'd', 'c', 'a', 123}

In [2]:
# sets do not support indexing & slicing operations as it is unordered collection of elements

In [3]:
set1.remove(2)
print(set1)

{'b', 1, 3, 4, 12, 45, 'd', 'c', 'a', 123}

In [4]:
set1.remove(456) # we are getting error as this value is not present in the set

KeyError: 456

In [5]:
set1.discard(456) # we are not getting error even if the element is not present in the set

In [6]:
set1

{1, 12, 123, 3, 4, 45, 'a', 'b', 'c', 'd'}

In [7]:
set1.add(789)
print(set1)

{'b', 1, 3, 4, 12, 45, 'd', 'c', 789, 'a', 123}

In [8]:
set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9}

In [9]:
# Union method
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
# Intersection method
print(set1 & set2)

{5, 6}

In [11]:
# Difference
print(set1 - set2)

{1, 2, 3, 4}

In [12]:
# Symmetric difference: elements in either set but not in both
print(set1 ^ set2)

{1, 2, 3, 4, 7, 8, 9}

In [13]:
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [14]:
print(set1)
set1.update(['abcde', 'qwerty', 123456])
print(set1)

{1, 2, 3, 4, 5, 6}
{123456, 1, 2, 3, 4, 5, 6, 'qwerty', 'abcde'}

In [15]:
set1

{1, 123456, 2, 3, 4, 5, 6, 'abcde', 'qwerty'}

In [16]:
print(set2)
set2.clear() # removes all elements from the set
print(set2)

{5, 6, 7, 8, 9}
set()

In [2]:
set_4 = {'@', '##', 0, 1,2,234,23456,3,4,7,5,56,2342,"abc", 'prachi', 'anand', 'vaibhav', '!@#', -1, -1234, -231}
set_4 # set is unordered collection, the ordering is based on ASCII values

{'!@#',
 '##',
 -1,
 -1234,
 -231,
 0,
 1,
 2,
 234,
 2342,
 23456,
 3,
 4,
 5,
 56,
 7,
 '@',
 'abc',
 'anand',
 'prachi',
 'vaibhav'}